<% if @contact.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @contact.errors.full_messages.each do |message| %>
      <li><%= contact %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @contact do |f| %>
  <div class="form-group">
    <%= f.label :contact_id %>
    <%= f.text_field :contact_id %>
  </div>
  <%= f.hidden_field :user_id, :value => @current_user %>
  <%= f.submit(:class => "btn btn-danger") %>
<% end %>

